<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ymegane.android.approom"
    android:installLocation="auto" >

    <uses-permission android:name="com.felicanetworks.mfc.permission.MFC_ACCESS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:name=".Approom"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="org.ymegane.android.approom.presentation.view.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />

                <category android:name="com.adamrocker.android.simeji.REPLACE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.felicanetworks.mfc.Felica"
            android:exported="false" >
        </service>
        <service android:name="org.ymegane.android.approom.presentation.service.AppInfoRequestReceiveService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/request" />
            </intent-filter>
        </service>
        <service
            android:name="org.ymegane.android.approom.presentation.service.AppInfoSendService"
            android:exported="false" />

        <activity
            android:name="org.ymegane.android.approom.presentation.view.activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="org.ymegane.android.approom.presentation.view.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ymegane.android.approom.presentation.view.activity.MainActivity" />
        </activity>
    </application>

</manifest>