<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ymegane.android.approom"
    android:installLocation="auto" >

    <uses-permission android:name="com.felicanetworks.mfc.permission.MFC_ACCESS" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/MySherlock">
        <activity
            android:name="org.ymegane.android.approom.MainActivity"
            android:label="@string/app_name" android:screenOrientation="nosensor" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />

                <category android:name="com.adamrocker.android.simeji.REPLACE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.felicanetworks.mfc.Felica"
            android:exported="false" >
        </service>
    </application>

</manifest>